<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SHOES</title>
  </head>
  <body>
    <h1>Welcome to Your Shoe List</h1>
    <button><a href="/shoes">See Your Shoes</a></button>

  </body>
</html>
