
<nav>
   <div class="nav-wrapper indigo darken-2">
     <a href="/shoes" class="brand-logo">Shoes</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/shoes/new">New Shoe</a></li>

     </ul>
   </div>
 </nav>
